.mainContent{
    /* background-color: #2b2727; */
    /* color: white; */
    
}

.contentPage{
    margin-top: 20px;
    margin: auto;
 height: 100%;
 width: 50vw;
 
/* border: solid 3px black; */


}
.imageMain{
    background: url('../images/linuxImage.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 390px;
   
justify-content: center;
align-items: center;
    
}

.miniHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.element{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
p{
    font-family: le-monde-livre-classic-byol,serif;
    font-size: 20px;
    font-weight: 400;
}
.commands{
    margin-top: 28px;
    

}
.command{
    /* background-color:antiquewhite */
    margin-top: 1.4em;
}
.headerOfCommands{
     /* font-family: 'Rubik Spray Paint', cursive; */
     font-family: Epilogue,sans-serif;
      font-weight: 700;
      color: rgb(13, 13, 52);

}
.imgsrc{
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}
.codeBar{
    background-color: black;
    color: white;
    height: 50px;
    border-radius: 10px;
    
}
.language-bash{
    align-items: center;
    padding-top: 1.1em;
    padding-left: 1.3em;
}