.navbarContainer{
    display: flex;
}
.navbarContainer{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    background-color: black;
    width: 100vw;
    height: 80px;
}
.img{
    background: url(../images/cli212283-siqj-200h.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 80px;
    color: white;
    margin-right: 16px;
}